/* Overrides */
input {
    outline: none;
    border: none;
    padding: 0;
    background-color: transparent;
}

button {
    outline: none;
}

/* Sliders and things */
.slider-box, .control-knobs {
    display: inline-block;
}

.slider-box.vertical {
    width: 3em;
    height: 8em;
}

label {
    display: inline-block;
}

/* Do the rotation */
input[orient="vertical"] {
    appearance: none;

    width: 8em;
    height: 1em;
    transform-origin: bottom center;
    transform: rotate(-90deg) translate(-1em, -2em);
}

.gain {
    background-color: #3a9;
    border-radius: 0.5em;
    border: 1px solid #aaa;
}

/* Buttons and things */
button.control-button {
    box-shadow: none;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0.25em;
    color: #fff;
    cursor: pointer;
}

button.control-button:hover {
    background-color: rgba(0,0,0,0.1);
}

/* text inputs and labels */
.knob-label {
    font-size: 0.5em;
    color: #aaa;
}

input.value {
    text-align: center;
    color: red;
    font-family: monospace;
    width: 2em;
}


/* Specific controls */
#octave {
    height: 2em;
    margin: auto;
}

#octave-value {
    font-size: 2em;
}

.octave-button {
    height: 100%;
    font-size: 1.5em;
}