#root {
    height:  100%;
}

#app {
    display: grid;
    height: 100%;

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    grid-template-areas:
        "name controls controls controls"
        "keyboard keyboard . lfo"
        ". . osc osc";

    align-items: stretch;
    justify-items: stretch;
}

#keyboard-area {
    grid-area: keyboard;
    flex-direction: column;
}

#name-area {
    grid-area: name;
}

#controls-area {
    grid-area: controls;
}

.container {
    display: flex;
    padding: 0.5em;
}